<html>
<head>
    <title>Text Processor</title>
 <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

     <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

    <br><br><br>
    <div class="container">
        <form action="/send_text/" method="post">
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="textarea1" 
                            name="main-text" 
                            class="materialize-textarea"></textarea>
                    <label for="textarea1">Enter Text Here</label>
                </div>
            <input class ="btn" type="submit" value="Submit">
        </form>
            <!-- see http://stackoverflow.com/questions/11556958/sending-data-from-html-form-to-a-python-script-in-flask to finish form -->
    </div>
</div>
</body>
</html>
